/* Defina estilos para o corpo da página */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}


/* Defina estilos para o cabeçalho */

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}


/* Estilos para a navegação */

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


/* Estilos para o conteúdo principal */

main {
    padding: 20px;
}


/* Estilos para o rodapé */

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}