body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.welcome-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    margin-top: 100px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

p {
    color: #333;
}

a {
    display: block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

td.processo {
    vertical-align: top;
}


/* Estilo para a lista de movimentações */

.movimentacoes-list {
    max-height: 50px;
    /* Altura máxima desejada */
    overflow-y: scroll;
    /* Adiciona a barra de rolagem vertical quando necessário */
    border: 1px solid #ccc;
    /* Adicione uma borda para separar visualmente a lista */
    padding: 10px;
    /* Espaçamento interno opcional */
}


/* Estilo para cada item da lista de movimentações */

.movimentacoes-list li {
    margin-bottom: 10px;
    /* Espaçamento entre os itens da lista */
}

table.tabela {
    max-height: 300px;
}